body{
    margin:0;
    padding: 0;
    position: relative;
    width: 100%;
    height: 100%;
    background: #07252d;
}
.face {
    position: absolute;
    display: inline-block;
    clip-path: polygon(17% 73%, 36% 100%, 71% 100%, 89% 73%, 92% 18%, 53% 12%, 9% 21%);
    background-color: bisque;
    height: 200px;
    width: 200px;
    top:50px;
    left:50%;
    transform: translateX(-54%);
}
.face :nth-child(1) {
    position: relative;
    display: inline-flex;
    background-color: black;
    height: 50px;
    width: 50px;
    top: 50px;
    left: 50px;
    clip-path: ellipse(38% 40% at 50% 50%);
}
.face :nth-child(2) {
    display: inline-flex;
    position: relative;
    background-color: black;
    top: 50px;
    left: 50px;
    height: 50px;
    width: 50px;
    clip-path: ellipse(38% 40% at 50% 50%);
}
.face :nth-child(3){
    display: inline-flex;
    position: absolute;
    background-color: red;
    top: 50%;
    left: 50%;
    transform: translate(-40%, -20%);
    height: 30px;
    width: 15px;
    clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
    box-shadow: 3px 3px red, -1em 0 .4em olive;
}
.child-1 :nth-child(1){
    display: inline-flex;
    position: absolute;
    height: 20px;
    top: 15px;
    left: 15px;
    background-color: rgb(88, 78, 78);
    width: 20px;
}
.child-2 :nth-child(1){
    display: inline-flex;
    position: absolute;
    height: 20px;
    top: 15px;
    left: 15px;
    background-color: rgb(88, 78, 78);
    width: 20px;
}
.face :nth-child(4){
    position: absolute;
    z-index: 1;
    top: 35px;
    left: 4px;
    right: 0;
    height: 110px;
    width: 80px;
    margin: 0 auto;
    border-bottom: 8px solid #222;
    border-radius: 30%  30% 30% 30%;
}
.hair {
    position: absolute;
    display: inline-flex;
    clip-path: polygon(50% 5%, 79% 14%, 96% 42%, 100% 73%, 78% 59%, 50% 56%, 19% 60%, 1% 73%, 4% 40%, 22% 14%);
    background-color: black;
    height: 150px;
    width: 200px;
    top:20px;
    left: 50%;
    transform: translateX(-53%);
}
.body {
    position:absolute;
    top: 270px;
    left: 50%;
    transform: translateX(-50%);
    height: 275px;
    width: 200px;
    background-color: #53535f;
    clip-path: polygon(25% 0%, 75% 0%, 87% 49%, 81% 100%, 24% 100%, 13% 51%);
}
.neck {
    position:absolute;
    top: 250px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #3e3e53;
    height: 50px;
    width: 25px;
    clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
}
.collar-1{
    position: absolute;
    height: 50px;
    width: 50px;
    background-color: yellow;
    top:-7px;
    left: 49%;
    transform: translate(-100%) rotate(-9deg);
    clip-path: polygon(78% 56%, 99% 69%, 74% 100%, 0 0);
}
.collar-2{
    position: absolute;
    height: 50px;
    width: 50px;
    background-color: yellow;
    top:-4px;
    left: 75%;
    transform: translate(-100%) rotate(6deg);
    clip-path: polygon(100% 0, 0 61%, 31% 90%);
}
.btn-1{
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 10px;
    width: 10px;
    top: 35px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #222;
    border-radius: 100%;
}
.btn-2{
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 10px;
    width: 10px;
    top: 95px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #222;
    border-radius: 100%;
}
.btn-3{
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 10px;
    width: 10px;
    top:155px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #222;
    border-radius: 100%;
}
.btn-4{
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 10px;
    width: 10px;
    top: 215px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #222;
    border-radius: 100%;
}
.hands-1{
    position:absolute;
    display: inline-flex;
    height: 300px;
    width: 300px;
    top:270px;
    left:50%;
    transform: translateX(-65%) rotateZ(2deg);
    background-color: bisque;       
    clip-path: polygon(50% 0%, 45% 11%, 21% 26%, 18% 73%, 35% 96%, 32% 100%, 6% 78%, 0% 43%, 17% 12%);
}
.hands-1 :nth-child(1){
    display: inline-flex;
    position:absolute;
    top:-80px;
    left:30px;
    transform: rotateZ(-50deg);
    height: 200px;
    width:200px;
    background-color: #53535f;
}
.hands-2{
    position:absolute;
    display: inline-flex;
    height: 300px;
    width: 300px;
    top:280px;
    left:50%;
    transform: translateX(-35%)rotateZ(158deg);
    background-color: bisque; 
    clip-path: polygon(50% 0%, 45% 11%, 21% 26%, 18% 73%, 35% 96%, 32% 100%, 6% 78%, 0% 43%, 17% 12%);
}
.hands-2 :nth-child(1){
    display: inline-flex;
    position:absolute;
    top: 170px;
    left:30px;
    transform: rotateZ(-32deg);
    height: 200px;
    width:200px;
    background-color: #53535f;
}
.pants{
    position:absolute;
    display: inline-flex;
    height: 120px;
    width: 117px;
    top:493px;
    left:50%;
    transform: translateX(-46%);
    background-color: rgb(41, 17, 17);
    clip-path: polygon(51% 43%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
}
.legs{
    position: relative;
    display: block;
    top:612px;
    left: 50.1%;
    transform:translateX(-50%);
    height: 400px;
    width: 100px;
    filter:blur(0px);
}
.legs-1{
    display: inline-flex;
    position:absolute;
    top: 0px;
    left:17%;
    transform: translateX(-50%);
    height: 250px;
    width:250px;
    background-color: #53535f;
    clip-path: polygon(59% 0, 58% 47%, 56% 56%, 64% 89%, 62% 100%, 36% 100%, 34% 99%, 51% 96%, 57% 93%, 52% 66%, 51% 57%, 44% 55%, 48% 55%, 43% 52%, 46% 47%, 51% 44%, 51% 9%, 49% 0);
}
.legs-2{
    display: inline-flex;
    position:absolute;
    top: 0px;
    left:88%;
    transform: translateX(-50%) rotateY(180deg); 
    height: 250px;
    width:250px;
    background-color: #53535f;
    clip-path: polygon(59% 0, 58% 47%, 56% 56%, 64% 89%, 62% 100%, 36% 100%, 34% 99%, 51% 96%, 57% 93%, 52% 66%, 51% 57%, 44% 55%, 48% 55%, 43% 52%, 46% 47%, 51% 44%, 51% 9%, 49% 0);
}
.fingers{
    position: relative;
    display: block;
    top:0px;
    left: 50%;
    transform:translateX(-50%);
    height: 400px;
    width: 400px;
}
.hands{
    position: absolute;
    top:30px;
    left: 50%;
    transform: translateX(-50%);
    height: 300px;
    width: 300px;
}
.pocket{
    position: absolute;
    height: 55px;
    width: 40px;
    background-color: rgb(32, 80, 112);
    top:60px;
    left:60%;
    clip-path: polygon(0 0, 80% 0%, 100% 100%, 0% 100%);
}
.pocket :nth-child(1){
    position: absolute;
    height: 5px;
    width: 80px;
    background-color: green;
    top:0px;
    left:50%;
    transform: translateX(-50%);
}
.board{
    display: inline-block;
    position: relative;
    top:-235px;
    left:10px;
    height: 400px;
    width:30%;
    transform: skewy(-20deg);
}
.board :nth-child(1){
    position: absolute;
    height: 40px;
    width: 30px;
    top:50px;
    left:10%;
    background-color: black;
}
.board :nth-child(2){
    position: absolute;
    height: 200px;
    width: 300px;
    top:60px;
    left:5%;
    background-color: black;
    clip-path: polygon(72% 23%, 100% 40%, 75% 58%, 0 58%, 0 22%);
}
.board :nth-child(3){
    position: absolute;
    height: 100px;
    width: 30px;
    top:190px;
    left:10%;
    background-color: black;
}
.neon{
    display: inline-block;
    position: relative;
    top:-300px;
    left:50%;
    height: 400px;
    width:30%;
    transform: translateX(-50%) skewy(20deg);
}
.h1{
    position: absolute;
    font-size: 6em;
    letter-spacing: 15px;
    color: #0e3742;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    -webkit-box-reflect: below 5px linear-gradient(transparent,#0008);
    line-height: 0.70em;
    outline: none;
    animation: animate 5s linear infinite;
}
@keyframes animate  {
    0%,18%,20%,50.1%,60%,65.1%,80%,90.1%,92%{
        color:#0e3742;
        text-shadow: none;
    }
    18.1%,20.1%,30%,50%,60.1%,65%,80.1%,90%,92.1%,100%{
        color: #fff;
        text-shadow: 0 0 10px #03bcf4
                    0 0 20px #03bcf4
                    0 0 40px #03bcf4
                    0 0 80px #03bcf4
                    0 0 160px #03bcf4;
    }
}
@media screen and (max-width:947px){
    .board {top:120px;}
    .board:nth-child(2){
        width:175px;
    }
    .neon{
        top:300px;
    }
    body{
        margin: 10px 0 10px 20%;
    }
}
@media screen and (max-width:375px) {
    body{
        margin: 10px 0 10px 20%;
    }
}